{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Add Product Mapping{% endblock title %}

{% block content %}


<div class="container mt-2">
    <h1>Create New Product Mapping</h1>

    <form action="add" method="post" class="was-validated">
        {% csrf_token %}
        {% render_field form.product_id class+="form-control mb-3" %}
        {% render_field form.brand class+="form-control mb-3" %}
        {% render_field form.delivery_method class+="form-select mb-3" %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{% endblock content %}