{% extends 'base.html' %} {% block title %}Products{% endblock title %}Products
{% block content %}
<h1>Products!</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Brand</th>
      <th>Delivery Method</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{product.product_id}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.delivery_method}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock%}
