{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Product Mapping {% endblock title %}

{% block content %}
    <h1>Edit Product Mapping {{form.product_id.value}} </h1>
    <button class="btn btn-primary mb-3">
        <a href="/" class="text-white text-decoration-none">
        Home
    </a>
    </button>
    <form action="submit" method="post" class="was-validated">
        {% csrf_token %}
        {% render_field form.product_id %}
        {% render_field form.brand class+="form-control mb-3" %}
        {% render_field form.delivery_method class+="form-select mb-3" %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

{% endblock content %}