{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Product Mapping {% endblock title %}

{% block content %}
<h1>Edit Product Mapping {{form.product_id.value}} </h1>
<button class="btn btn-primary mb-3">
	<a class="text-white text-decoration-none" href="/">
		Home
	</a>
</button>
<form action="submit" class="was-validated" method="post">
	{% csrf_token %}
	{% render_field form.product_id %}
	{% render_field form.brand class+="form-control mb-3" %}
	{% render_field form.delivery_method class+="form-select mb-3" %}
	<input class="btn btn-primary" type="submit" value="Submit">
</form>

{% endblock content %}